{% extends 'base.html' %}

{% block title %}
系统总览
{% endblock %}

{% block content %}

<div class="mb-5 mt-4">
<h6>近期事件</h6>
<canvas class="my-4" id="chart-container"></canvas>
<div id="legend-container"></div>
</div>

<div class="row justify-content-lg-around">
    <div class="col-lg-5 col-12">
        <table class="table table-hover caption-top">
            <caption><h6>最新日志</h6></caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="col-lg-5 col-12">
        <table class="table table-hover caption-top">
            <caption><h6>最新日志</h6></caption>
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">First</th>
                    <th scope="col">Last</th>
                    <th scope="col">Handle</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>Otto</td>
                    <td>@mdo</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Jacob</td>
                    <td>Thornton</td>
                    <td>@fat</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">Larry the Bird</td>
                    <td>@twitter</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>



{% endblock %}


{% block script %}
<script src="{{ url_for('dashboard.static', filename='js/chart.umd.min.js') }}"></script>
<script src="{{ url_for('dashboard.static', filename='js/html-legend-plugin.js') }}"></script>
<script>

    (() => {
        // Graphs
        const ctx = document.getElementById('chart-container')

        // eslint-disable-next-line no-unused-vars
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: [
                    'Sunday',
                    'Monday',
                    'Tuesday',
                    'Wednesday',
                    'Thursday',
                    'Friday',
                    'Saturday'
                ],
                datasets: [{
                    label: 'x1',
                    data: [
                        15339,
                        21345,
                        18483,
                        24003,
                        23489,
                        24092,
                        12034
                    ],
                    backgroundColor: '#007bff',
                    borderColor: '#007bff',
                },
                {
                    label: 'x2',
                    data: [
                        35339,
                        22345,
                        8483,
                        31003,
                        3489,
                        20092,
                        10034
                    ],
                    backgroundColor: '#dc3545',
                    borderColor: '#dc3545',
                }]
            },
            options: {
                plugins: {
                    htmlLegend: {
                        // ID of the container to put the legend in
                        containerID: 'legend-container',
                    },
                    legend: {
                        display: false,
                    }
                }
            },
            plugins: [htmlLegendPlugin],
        })
    })()
</script>
{% endblock %}