<nav id="sidebarMenu" class="col-md-3 col-lg-2 flex-column bg-body-tertiary sidebar collapse">
    <ul class="nav nav-pills flex-column mb-auto pt-3">
        <li class="nav-item">
            <a class="nav-link text-white active" aria-current="page" href="#">
                <span data-feather="home" class="align-text-bottom"></span>
                控制面板
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="monitor" class="align-text-bottom"></span>
                监控设备
                <span class="badge text-bg-secondary rounded-pill ms-3">10</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="users" class="align-text-bottom"></span>
                用户管理
                <span class="badge text-bg-secondary rounded-pill ms-3">10</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="alert-triangle" class="align-text-bottom"></span>
                事件管理
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="book" class="align-text-bottom"></span>
                系统日志
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="key" class="align-text-bottom"></span>
                Token记录
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-white" href="#">
                <span data-feather="cast" class="align-text-bottom"></span>
                实时录像
            </a>
        </li>
    </ul>
    <hr class="m-0 d-md-none">
    <a class="d-block d-md-none text-decoration-none p-3 text-center" href="#">
        <span data-feather="settings" class="align-text-bottom"></span>
        系统设置
    </a>
    <hr class="m-0">
    <a class="d-block text-decoration-none p-3 text-danger text-center" href="#">
        <span data-feather="log-out" class="align-text-bottom"></span>
        退出登录
    </a>
</nav>